@media (min-width:1024px) and (max-width:1200px) {
    .container {
        max-width: 900px;
    }

    

    header {
        border-radius: 0;
        border-bottom: 2px solid #139feb;
    }
    .button {
        width: 300px;
        font-size: 1rem;
    }
    h2{
        font-size:2.1rem;
    }
    #h3-2 {
        display: none;
    }

    .banner h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .banner  .mockup img {
        width: 490px;
    }

    #title-areas {
        font-size: 1.5rem;
    }

    .como-ajudar-areas p {
        font-size: 1rem;
    }

    .diferenciais {
        flex-direction: row;
    }
    .diferenciais img,t {
        width: 300px;
    }


    .diferenciais .dif-1 img,
     .diferenciais .dif-2 img,
      .diferenciais .dif-3 img,
       .diferenciais .dif-4 img {
        width: 100px;
        height: 100px;
        
    }

    .diferenciais .dif-1 .dif-text,
     .diferenciais .dif-2 .dif-text,
      .diferenciais .dif-3 .dif-text,
       .diferenciais .dif-4 .dif-text {
        font-size: 1.6rem;
        
    }
    .carrosel img {
        width: 24%;
        height: 400px;
    }


    .text-content .text-1 {
        font-size: 2.9rem;
    }

    .footer-area h3 {
        font-size: 3rem;
        margin-right: 10px;
    }
    .footer-button {
        margin-top: 0;
        font-size: 1rem;
        width: 300px;
    }

}





@media (min-width:768px) and (max-width:1020px) {
    .container {
        max-width: 600px;
    }
    .header-area img {
        width: 150px;
        
    }

    

    .menu-area li {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
    #h3-2 {
        display: none;
    }
    .button {
        font-size: 1rem;
        width: 300px;
        padding: 20px;  
    }

    .banner h1 {
        font-size: 2rem;
        line-height: 2rem;
        padding-top: 0;
    }

    .banner .button {
        font-size: .8rem;
        width: 210px;
        padding: 10px;  
        margin-top: 30px;
    }

    .banner .mockup img {
        width: 300px;
        height: auto;
        padding-top: 0px;
    }


    .como-ajudar-areas .area1 .area1-title,
    .como-ajudar-areas .area2 .area2-title,
    .como-ajudar-areas .area3 .area3-title,
    .como-ajudar-areas .area4 .area4-title {
    font-size: 1.1rem;
    font-family:'Agrandir';
    }

    .como-ajudar-areas p {
        font-size: 0.9rem;
        font-family: 'Open Sans', sans-serif;
        
    }
    .como-ajudar-areas .area1, .area2 {
        margin-bottom: 0; 
    }

    .content-circle img {
        width: 60px;
        margin-right: 20px;
    }

    .como-ajudar-areas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .como-ajudar {
        background-image: url(../image/fundocell2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }



    .diferenciais .dif-1 img,
    .diferenciais .dif-2 img,
    .diferenciais .dif-3 img,
    .diferenciais .dif-4 img {  
        width: 70px;
        height: 70px;
    }

    .diferenciais .dif-1 .dif-text,
    .diferenciais .dif-2 .dif-text,
    .diferenciais .dif-3 .dif-text,
    .diferenciais .dif-4 .dif-text {
        font-size: 1.3rem;
        
    }

    .projetos-area {
        background-image: url(../image/fundocell3.jpg);
        background-repeat: repeat;
        
    }
        
    .projetos {
        flex-direction: column;
    }

        .carrosel {
            width: 350px;
            height: 500px;
            margin:auto;
            
            
            
            
        }

    .carrosel img {
        width: 31%;
        height: 430px;
    }

    #carrosel2 {
       margin-bottom: 100px;
    }
    #ultimo-carrosel {
        margin: auto;
    }

    .perguntas summary {
        font-size: 1.2rem;
        
    }




    .text-content .text-1 {
        font-size: 1.5rem;
    }

    .footer-area h3 {
        font-size: 2rem;
        margin-right: 20px;
    }
    .footer-button {
        font-size: 1rem;
        margin-right: 30px;
        width: 300px;
    }
}













@media (min-width:320px) and (max-width:767px) {
    
    .container {
        max-width: 90%;
    }
    .menu-burguer-area {
        display: block;
    }
    .menu-area {
        display: none;
    }

    .menu-burguer {
        width: 35px;
        width: 30px;
        position: absolute;
        z-index: 999;
        right: 15px;
        
    }
    .line {
        background-color: #fff;
        width: 100%;
        height: 4px;
        margin: 6px 0;
        border-radius: 2px;
        transition-duration: 0.3s;
        
    }

    .menu-burguer-area .menu-faketrigger {
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
        right: 15px;
    }

    .menu-burguer-area ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position:absolute;
        z-index: 998;
        width: 100vw;
        height: 100vh;
        right: 0;
        top: 0;
        margin-right: -100vw;
        background-color: #000 ;
        transition: all ease .2s;
       
    }

    .menu-burguer-area ul li {
        
        list-style: none;
        font-size: 2rem;
        margin-bottom: 25px;
    }
    .menu-burguer-area ul a:hover {
        color: #139feb;
    }

    


    .menu-burguer-area ul li a{
        color: #ffff;
        
    }

    .menu-burguer-area .menu-faketrigger:checked ~ ul {
        margin-right: 0;
    }




    .menu-burguer-area .menu-faketrigger:checked ~ .menu-burguer {
        /* background-color: #000; */
    }

    .menu-burguer-area .menu-faketrigger:checked ~ .menu-burguer .line:nth-child(1) {
        
        transform:rotate(45deg) translate(7px, 7px) ;
    }
    .menu-burguer-area .menu-faketrigger:checked ~ .menu-burguer .line:nth-child(2) {
        opacity: 0;
    }
    .menu-burguer-area .menu-faketrigger:checked ~ .menu-burguer .line:nth-child(3) {
        
        transform:rotate(-45deg) translate(8px, -9px) ;
    }




    
    

    








    h2 {
        font-size: 1.6rem;
        ;

    }
    

    #h3-2 {
        display: block;
        font-family: 'Agrandir';
        font-size: 1.6rem;
        color: #ffff;
        padding: 10px
    }

    .button {
        width: 290px;
        font-size: 1rem;
        padding: 20px 0;
        margin-left: 10px;
    }

    .header-area {
        
        padding: 20px;
           
    }

    .logo img {
        width: 150px;
    }

    #menu-on ul {
        display: block;
        text-align: center;
    }

    .banner {
        background-image: url('../image/fundocell.jpg');
    }

    .banner-content {
        padding-top: 80px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-content h1 {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
    }

    .banner .mockup img {
        width: 0px;
        
    }

    .como-ajudar-areas {
        grid-template-columns: 1fr;
    }

    .content-circle img {
        width: 60px;
        margin-right: 15px;
    }

    .como-ajudar {
        background-image: url(../image/fundocell2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .como-ajudar-areas .area1 .area1-title,
     .como-ajudar-areas .area2 .area2-title,
      .como-ajudar-areas .area3 .area3-title,
       .como-ajudar-areas .area4 .area4-title {
        font-size: 1rem;
        
    }
    .como-ajudar-areas p {
        font-size: 0.9rem;
        
    }

    .como-ajudar-areas .area1,
    .como-ajudar-areas .area2,
    .como-ajudar-areas .area3,
    .como-ajudar-areas .area4  {
        padding-left: 0;
    }

    .divisor img {
        
        height: 20px;
    }



    .projetos-area {
        background-image: url(../image/fundocell3.jpg);
        background-repeat: repeat;
        
    }

    .diferencial {
        background-position: right;
    }


    .diferenciais {
        grid-template-columns: 1fr;
        padding: 0;

    
    }
    .diferenciais .dif-1, 
    .diferenciais .dif-2,
    .diferenciais .dif-3,
    .diferenciais .dif-4
     {
        margin-bottom: 0px;
        margin-top: 50px;
    }
    .diferenciais .dif-4 {
        margin-bottom: 50px;
    }
    
    .diferenciais .dif-2, .diferenciais .dif-4 {
        margin-left: 0px;
    }

    .diferenciais .dif-1 img,
    .diferenciais .dif-2 img,
    .diferenciais .dif-3 img,
    .diferenciais .dif-4 img {  
        width: 80px;
        height: 80px;
    }

    .diferenciais .dif-1 .dif-text,
    .diferenciais .dif-2 .dif-text,
    .diferenciais .dif-3 .dif-text,
    .diferenciais .dif-4 .dif-text {
        font-size: 1.2rem;
        
    }


    #summary-prime  {
        padding-bottom: 2px;
    }

    #summary-prime img {
        margin-bottom: 6px;

    }
    
    summary {
        flex-direction: column;
    }
    summary img {
        margin-top: 10px;
        width: 10px;
    }

    .area-perguntas summary {
        font-size: 0.9rem;
        text-align: center;
    }
    .area-perguntas {
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .area-perguntas p {
        font-size: 1rem;
    }
    


    


    .projetos {
        flex-direction: column;
    }

    .carrosel {
        width: 250px;
        margin-right: 0;
        margin: 30px 0;
    }
    #carrosel2 {
        margin-top: 30px;
    }
    .carrosel img {
        width: 22%;
    }
    
    .footer-area {
        flex-direction: column;
        text-align: center;
        border-radius: 0;
    }
    .footer-area h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: left ;
        display: none;
    }

    .footer-button {
        font-size: .8rem;
        width: 200px;
        padding: 10px 0;
        margin: 20px 0;

    }

    .button {
        width: 250px;
        font-size: 1rem;
        padding: 20px 0;
    }

    .whatsapp-button img {
        width: 30px;
    }

}

